@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
    url('bebasneue-regular-webfont.woff') format('woff'),
    url('bebasneue-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
	background-color: none;
	color: #333333;
	font-family: 'Open Sans', sans-serif
	padding: 0;
	margin: 0;
}
.transparent{
	background-color: rgba(229, 229, 222,0.25);
	width:85%;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	/*padding: 15px;*/
}
.frontpage{
	background-image: url("./images/fp_bg.jpg");
	background-position:left top;
	background-size: 100%;
	background-repeat: no-repeat;
}
.aboutus{
	background-image: url("./images/about_bg.jpg");
	background-position:left top;
	background-size: 100%;
}
.parktypes{
	background-image: url("./images/pk_type_bg.jpg");
	background-position:left top;
	background-size: 100%;
}
.states{
	background-image: url("./images/st_bg.jpg");
	background-position: left top;
	background-size: 100%;
}

.navbar {
  font-size: 15;
  letter-spacing: 2px;
  opacity: 0.8;
  background-color: #f3f3f3;
}

.headtitle{
	text-align: center;
	font-size: 5em;
	color: #E5F2FF;
}
.container {
  padding: 40px 60px;
}

.person {
    margin-bottom: 5px;
    width: 80%;
    height: 80%;
}

.name{
  color: #E5F2FF;
	background-color: #5E5E5E;
  font-family: 'Open Sans', sans-serif;
	font-size: 2em;
  width: 80%;
  padding: 5px
}

.description{
	color: #E5F2FF;
	background-color: #5E5E5E;
  font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
  width: 80%;
  padding: 10px
}

h1,title{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 50px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
h2,th{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.35em;
}
h4,td{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.12em;
}
p{
	font-family: 'Open Sans', sans-serif;
	font-size: .75em;
	width: 100%;
}

table{
	width: 100%
}
/*makes it so that the 4th column ahs a fixed larger width*/
table tr th:nth-child(4){
       width: 60%;
     }
th,td{
	text-align: left;
	padding: 15px;
	border-right: 0px;
}

div h3{
	display: inline-block;
	margin-right: 6%;
	margin-left: 10.85%;
	left: 10.85%;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: .5%;
	padding-left: 1.075%;
	padding-right: 1.075%;
	color:#E5F2FF;
	background-color: #5E5E5E;
	opacity: 0.8;
	width: 20%;
	text-align: center;
	margin: 0;

}

iframe{
	display: block;
	margin: auto;
}
