body{
	background-color: #ffffff;
	color: #333333;
	font-family: 'Open Sans', sans-serif

}
h1,title{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 5em;
}
h2,th{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.17em;
}
h4,td{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.12em;
}
table{
	width: 100%
}
th,td{
	text-align: left;
	padding: 15px;
	border-right: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}