body{
	background-color: none;
	color: #333333;
	font-family: 'Open Sans', sans-serif
	padding: 0;
	margin: 0;
}
.frontpage{
	background-image: url("./images/fp_bg.jpg");
	background-position:left top;
	background-size: 100%;
	background-repeat: no-repeat;
}
.aboutus{
	background-image: url("./images/about_bg.jpg");
	background-position:left top;
	background-size: 100%;
}
h1,title{
	font-family: 'Bebas Neue', sans-serif;
	font-size: 50px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
h2,th{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.17em;
}
h4,td,p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.12em;
}
table{
	width: 100%
}
th,td{
	text-align: left;
	padding: 15px;
	border-right: 0px;
}
.background{
	background-image: url('background.jpg')
	margin: 0;
	position: fixed;
	padding: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-size: cover;
}
.nav{
	position: fixed;
	background: rgba(255,255,255,0.7)
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    background-color: #f3f3f3;
    margin-top: 0;
    opacity: 0.8;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
    background-color: none;
}

li {
	font-family: 'Open Sans', sans-serif;
    float: left;
}

li a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #A3A3A3;
}
.active {
    background-color: #A5C1CC;
}
img{
	width: 100%;
}