<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <head>
    <meta charset="utf-8">
    <title>Anza-Borrego Desert State Park</title>
    <meta name="description" content="Park page for Anza-Borrego Desert State Park">
    <meta name="keywords" content="park,california,south,desert,state"/>
  <style>
  h2 {
      text-align: center;
  }
  </style>
  </head>

  <body>

    <!-- NAV BAR (BOOTSTRAPPED) -->
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">USA Parks</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('states') }}">States</a></li>
        <li class="nav-item active"><a class="nav-link" href="{{ url_for('parks') }}">Parks</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('parktypes') }}">Park Types</a></li>
      </ul>
    </nav>

    <!-- TITLE -->
    <div class = "container" style= "padding-top: 0px">
      <h1 class="headtitle" style="color:#000000">
        Anza-Borrego Desert State Park
      </h1>
    </div>

    <h2 class="marleft">
      Welcome to the Golden State's Anza-Borrego Desert State Park!
    </h2>
    <h4 class= "marleft">
      Anza-Borrego is located in southern California and is a part of the Colorado Desert.We are a state park featuring 110 miles of hiking trails, native palm oases, desert bighorn sheep, and slot canyons all within our 600,000 acres.
    </h4>
    <table style="margin-left: 15px;">
  		<tr>
  			<td style="padding: 0; margin-left:15px;">Park Type: <a href="State_Park.html">State Park</a></td>
  		</tr>
      <tr>
  			<td style="padding: 0; margin-left:15px;">State: <a href="California.html">California</a></td>
  		</tr>
  	</table>
    <p2 class = "marleft">
      Google Map:<a href="https://www.google.com/maps/place/Anza-Borrego+Desert+State+Park/@33.1855481,-116.4700126,10z/data=!4m12!1m6!3m5!1s0x0:0xc243b6b9a84126fe!2sAnza-Borrego+Desert+State+Park!8m2!3d33.2602214!4d-116.434307!3m4!1s0x0:0xc243b6b9a84126fe!8m2!3d33.2602214!4d-116.434307"> Anza-Borrego Desert Map</a>
    </p2>

      <div>
        <img src="../static/images/Anzapic1.jpg" alt="Anza" style="width: 80%; padding: 0; margin: auto; display: block;">
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/lix8GrUAR4Q" frameborder="0" allowfullscreen></iframe>
  </body>
</html>
